@import 'fonts.css';

ul, li{
	display: block;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sense Semibold';
	background: grey;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	width: 100vw !important;
}

.menu-bar{
	padding: 20px 0;
	color: #212121;
}

.menu__item{
	margin-left: 37px;
}

.menu__item a{
	font-family: 'Open Sense Semibold';
	font-style: 20px;
	color: #212121;
}
.menu__item a:hover{
	color: #212121;
}

/*Шапка*/

.header{
	padding: 180px 0;
	text-align: center;
	color: white;
	background-image: url('../img/header.png');
	background-size: hover;
	background-position: 0 100%;
}

.header__title{
	font-style: 55px;
}
.header__desc{
	font-size: 20px;
	margin-bottom: 100px;
}

.button{
	padding: 10px 25px;
	margin: 0 10px;
	color: white;
	transition: 0.3s;
}
.button_empty{
	background: transparent;
	border: 2px solid white;
}
.button_full{
	background: #00897b;
	border: 2px solid #00897b;
}

.button:hover{
	border: 2px dotted white;
	background: #04574e;
}

/*About*/

.about, .services{
	text-align: center;
	color: #000;
	padding: 120px 0;
}

.about__header{
	margin-bottom: 80px;
}

.about__title{
	font-size: 30px;
	font-weight: bold;
}
.about__text{
	font-size: 15px;
	word-wrap: break-word;
}

.about__item__header{
	margin: 20px 0;

	font-family: 'Open Sense Semibold';
	font-size: 20px;
}
.about__item__text{
	font-size: 15px;
}

/*Services*/
.services{
	background: #e4fdf9;
}


.services__card{
	transition: 0.3s;
}
.services__card:hover{
	box-shadow: 0 10px 12px -3px rgba(0, 0, 0, 0.26);
}

/*Portfolio*/
.portfolio{
	margin: 120px 0 135px 0;
}

.but{
	cursor: pointer;
	padding: 10px 30px;
	background: #00897b;
	border: 2px solid #00897b;
	text-align: center;
	transition: 0.3s;
	color: white;
	height: 50px;
	text-transform: uppercase;
}
.but:hover{
	color: black;
	background: transparent;
	border: 2px solid #00897b;
}
.but:focus{
	outline: none;
}
.but_active{
	color: black;
	background: transparent;
}

.portfolio__works{
	padding: 120px 0;
}

.portfolio__works img{
	margin-bottom: 30px;
}

/*Our prices*/
.price__card__header{
	background-color: #fff !important;
	background-image: url('../img/pricing_bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 0 !important;
}

.price{
	background: #f0f1f1;
	padding: 120px;
}

.price__val{
	font-size: 25px;
}

.price__features{
	list-style: none;
}

.price__features>li{
	margin: 10px;
	border-bottom: 1px solid silver;
	color: grey;
	padding: 3px;
}

.but-dark{
	border: 2px solid black;
	background: transparent;
	color: black;
}
.but-dark:hover{
	background: #00897b;
	color: white;
}

.price__card{
	cursor: pointer;
}
.price__card:hover{
	box-shadow: 0 0px 11px 3px rgba(0, 0, 0, 0.39);
}

/*Team*/
.team{
	padding: 125px 0;
}
.soc{
	display: flex;
	justify-content: center;
}
.soc>li{
	margin: 0 10px;
}

.team__header{
	padding-bottom: 75px;
}

.dots-style{
	display: flex;
	justify-content: center;
	margin: 70px 0;
}
.dots-style button{
	margin: 0 5px;
	border-radius: 50%;
	border: none;
	font-size: 0;
	padding: 0;
	background: grey;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.dots-style .slick-active button{
	background: #00897b;
}

/*Blog*/
.left>div:first-child{
	order: 1;
}
.left>div:last-child{
	order: 2;
}

.right>div:first-child{
	order: 2;
}
.right>div:last-child{
	order: 1;
}

.blog .content .row a:first-child{
	font-size: 25px;
	color: #00897b;
	font-family: 'Open Sense Semibold';
}

.blog .content .row .col-xl-6:last-child{
	padding: 40px;
	text-align: left;
}

.blog .content .row .date{
	margin: 20px 0;
	font-size: 17px;
	font-family: 'Open Sense Semibold';	
}

.blog .content .row .date i{
	margin-right: 10px;
}

.blog .content .row .date span{
	margin-right: 35px;
}

/*Footer*/
.footer{
	color: white;
	background: url('../img/footer.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 120px;
	text-align: center;
}

.footer__icons{
	padding: 80px 0;
}

.footer__icons i{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #00f;
	text-align: center;
	line-height: 65px;
	font-size: 30px;
}

.footer__icons p{
	margin-top: 30px;
	font-size: 18px;
}

.footer__form input, .footer__form textarea{
	outline: none;
}

/*Adaptivity*/

.burger{
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, .8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
	z-index: 9999 !important;
}
.burger span{
	width: 75%;
	height: 2px;
	border: 1px solid white;
	display: block;
	position: absolute;
	transition: .3s;
}

.burger span::before{
	padding: 0;
	margin: 0;
	content: '';
	position: absolute;
	top: -8px;
	left: 0;
	height: 2px;
	display: block;
	width: 100%;
	border: 1px solid white;
	transition: .3s;
}

.burger span::after{
	padding: 0;
	margin: 0;
	content: '';
	height: 2px;
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	width: 100%;
	border: 1px solid white;
	transition: .3s;
}

.burger-active span::before{
	opacity: 0;
}
.burger-active span{
	transform: rotate(45deg);
}
.burger-active span::after{
	transform: rotate(-90deg);
	top: 0;
}
.burger-active+nav{
	width: auto;
}

@media all and (max-width: 1000px){
	.burger{
		display: flex;
	}
	.menu_nav{
		width: 0;
		position: fixed;
		right: 0;
		top: 60px;
		background: rgba(0, 0, 0, .7);
		z-index: 9999;
	}
	.menu{
		font-size: 18px;
		flex-direction: column;
		text-align: center;
		margin: 0;
	}
	.menu li{
		cursor: pointer;
		text-align: center;
		padding: 5px 50px;
		margin: 0;
		display: block;
	}
	.menu li a{
		color: white;
	}
	.menu li:hover{
		background: rgba(255, 255, 255, .9);
	}
	.menu li:hover a{
		color: black;
	}
}

#top{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 55px;
	background: rgba(0, 0, 0, .7);
	color: white;
	font-family: 'Open Sense Semibold';
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: .3s;
}

.hide{
	opacity: 0;
}