.burger span::after, .burger span::before {
  padding: 0;
  margin: 0;
  height: 3px;
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  display: block;
  background: #000;
  transition: .3s; }

ul, li {
  display: block;
  margin: 0;
  padding: 0; }

.button {
  padding: .5em 1.25em;
  margin: 0 .5em;
  color: #fff;
  transition: .3s; }
  .button_empty {
    background: transparent;
    border: 2px solid #fff; }
  .button_full {
    background: #00897b;
    border: 2px solid #00897b; }
  .button:hover {
    border: 2px dotted #fff;
    background: #04574e; }

.sect-pad {
  text-align: center;
  color: #000;
  padding: 6rem 0; }

.but {
  cursor: pointer;
  padding: .5em 1.5em;
  background: #00897b;
  border: 2px solid #00897b;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transition: .3s; }
  .but:hover {
    color: #000;
    background: transparent;
    border: 2px solid #00897b; }
  .but:focus {
    outline: none; }
  .but_active {
    color: #000;
    background: transparent; }
  .but-dark {
    border: 2px solid #000;
    background: transparent;
    color: #000; }
    .but-dark:hover {
      background: #00897b;
      color: #fff; }

.dots-style {
  display: flex;
  justify-content: center;
  margin: 3.5rem 0; }
  .dots-style button {
    margin: 0 5px;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background: grey;
    cursor: pointer; }
  .dots-style .slick-active button {
    background: #00897b; }

.left > div:first-child, .right > div:last-child {
  order: 1; }

.left > div:last-child, .right > div:first-child {
  order: 2; }

.max-img {
  max-width: 100%; }

.hide {
  opacity: 0; }

html {
  font-size: 20px; }

body {
  font-family: "Open Sense";
  background: grey;
  padding: 0;
  margin: 0;
  overflow-x: none; }

.header {
  padding: 9rem 0;
  text-align: center;
  color: #fff;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: 0 100%; }
  .header__title {
    font-size: 1.5rem; }
  .header__desc {
    margin-bottom: 5rem; }

.menu-bar {
  padding: 1rem 0;
  color: #212121; }
  .menu-bar .menu__item {
    margin-left: 2rem; }
    .menu-bar .menu__item a {
      font-family: "Open Sense";
      color: #212121; }
      .menu-bar .menu__item a:hover {
        color: #212121; }

.about__header {
  margin-bottom: 4rem; }
.about__title {
  font-size: 1.5rem;
  font-weight: bold; }
.about__text {
  font-size: .75rem;
  word-wrap: break-word; }
.about__item__header {
  margin: 1rem 0;
  font-family: "Open Sense"; }
.about__item__text {
  font-size: .75rem; }

.services {
  background: #e4fdf9; }
  .services__card {
    transition: .3s; }
    .services__card:hover {
      box-shadow: 0 10px 12px -3px rgba(0, 0, 0, 0.25); }

.portfolio {
  margin: 6rem 0 6.75rem 0; }
  .portfolio__works {
    padding: 6rem 0; }
    .portfolio__works img {
      margin-bottom: 1.5rem; }

.price {
  background: #f0f1f1;
  padding: 6rem; }
  .price__val {
    font-size: 1.25rem; }
  .price__features {
    list-style: none; }
    .price__features > li {
      margin: .5rem;
      padding: 3px;
      border-bottom: 1px solid silver;
      color: grey; }
  .price__card {
    cursor: pointer; }
    .price__card__header {
      background: #fff;
      background-image: url("../img/pricing_bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      border: 0; }
    .price__card:hover {
      box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.4); }

.team {
  padding: 6rem 0; }
  .team__header {
    padding-bottom: 3.75rem; }

.soc {
  display: flex;
  justify-content: center; }
  .soc > li {
    margin: 0 .5rem; }

.blog .content .row a:first-child {
  font-size: 1.25rem;
  font-family: "Open Sense";
  color: #00897b; }
.blog .content .row .col-xl-6:last-child {
  padding: 2rem;
  text-align: left; }
.blog .content .row .date {
  margin: 1rem 0;
  font-size: .8rem;
  font-family: "Open Sense"; }
  .blog .content .row .date i {
    margin-right: .5rem; }
  .blog .content .row .date span {
    margin-right: 1.75rem; }

.footer {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  background: url("../img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0; }
  .footer__icons {
    padding: 4rem 0; }
    .footer__icons i {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background: #00f;
      text-align: center;
      font-size: 1.5rem;
      line-height: 65px; }
    .footer__icons p {
      margin-top: 1.5rem; }
  .footer__form input, .footer__form textarea {
    outline: none; }

.burger {
  width: 50px;
  height: 50px;
  background: #fff;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 9999 !important; }
  .burger span {
    width: 100%;
    height: 3px;
    background: #000;
    display: block;
    position: absolute;
    transition: .3; }
    .burger span::after {
      top: 8px; }
    .burger span::before {
      top: -8px; }
  .burger-active span {
    transform: rotate(45deg); }
    .burger-active span::after {
      transform: rotate(-90deg);
      top: 0; }
    .burger-active span::before {
      opacity: 0; }
  .burger-active + nav {
    height: 15rem; }

@media all and (max-width: 1000px) {
  .ad-men {
    flex-direction: column;
    margin: 0; }

  .burger {
    display: flex; }

  .menu {
    font-size: .9rem;
    flex-direction: column;
    text-align: center;
    margin: 0; }
    .menu li {
      cursor: pointer;
      text-align: center;
      padding: 5px 50px;
      margin: 0;
      display: block; }
      .menu li a {
        text-decoration: none;
        color: #000; }
        .menu li a:active {
          text-decoration: none; }
      .menu li:hover {
        border-bottom: 1px solid #000; }
        .menu li:hover a {
          color: #000; }
    .menu_nav {
      overflow: hidden;
      height: 0;
      width: 100%;
      background: #fff;
      z-index: 9999; } }
#top {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-family: "Open Sense";
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .3s;
  cursor: pointer; }

@media all and (max-width: 400px) {
  .filter_buts {
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */
